body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #3dc2c2;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 10px 30px;
  width: 90%;
}
.curtIcon {
  height: 52px;
  margin-left: 17px
}
.left-bar {
    background-color: lightgrey;
    padding: 20px 10px;
    width: 18%;
    height: fit-content;
    text-align: left;
    border-radius: 24px 0px;
    padding-left: 25px;
    margin-top: 10px;
    display: none;
}
.products {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding: 10px;
  row-gap: 22px;
  column-gap: 26px;
  z-index: -1;
  position: relative;
  top: 86px;
}
.display-flex {
  display: flex;
  justify-content: space-evenly;
}
.lower-part {
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.addToCartBtn {
  padding: 8px;
  height: fit-content;
}
.item {
  margin: auto;
  /* padding: 18px 18px 0px; */
  background-color: rgb(205, 201, 196);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products img {
  width: 18em;
}
.price {
  font-size: 18px;
}
.name {
  position: absolute;
  font-size: 22px;
  margin-left: 5px;
}
.badge {
    position: fixed;
    top: 19px;
    right: 5px;
    background-color: coral;
    border-radius: 70px;
    padding: 1px 4px;
    color: antiquewhite;
    font-size: 10px;
}
.cart-parent {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.cart-row {
  align-items: center;
  margin-bottom: 20px;
}
.dltBtn {
  background-color: #f44336;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 8px;
  z-index: -1;
}
@media screen and (max-width: 320px) {
  .header {
    width: 87%;
    padding: 5px 30px;
  }
  .curtIcon {
    height: 34px;
    margin-left: 4px;
    margin-top: 10px;
  }
  .products {
    overflow-x: hidden;
    position: relative;
    top: 80px;
  }
  .products img {
    width: 15em;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .header {
    width: 94%;
  }
  .products {
    grid-template-columns: repeat(2,1fr);
    position: relative;
    z-index: -1;
    top: 86px;
  }
  .badge {
    right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: 93%;
    padding: 10px 60px;
  }
  .badge {
    right: 37px;
    padding: 2px 6px;
    font-size: 13px;
    top: 7px;
  }
  .products {
    grid-template-columns: repeat(3,1fr);
    position: relative;
    z-index: -1;
    left: 137px;
    top: 86px;
    margin-right: 10px;
  }
  .left-bar {
    display: block;
    position: fixed;
    left: 16px;
    top: 86px;
  }
}
